<div class="footer">
    <div class="container">
        Created in 2018. 
        Data provided by <a href="http://last.fm/">Last.fm</a>.
        <img src="/images/footer_logo.png" class="float-right" width="37" height="20">
    </div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</body>

</html>