<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      name="description"
      content="Best tool for discovering last.fm milestone scrobbles!"
    />
    <meta name="theme-color" content="#000" />
    <meta
      property="og:url"
      content="http://lastmilestones.tk"
    />
    <meta property="og:type" content="website" />
    <meta property="og:title" content='<%= (typeof title != "undefined") ? `${title} | ` : "" %>LastMilestones:
    Your Last.fm milestone scrobbles' />
    <meta property="og:description" content="Best tool for discovering last.fm milestone scrobbles!" />
    <meta
      property="og:image"
      content='<%= (typeof user != "undefined") ? user.image : "https://i.postimg.cc/g2xTzM3n/article-logo.jpg" %>'
    />
    <title>
      <%= (typeof title != "undefined") ? `${title} | ` : "" %>LastMilestones:
      Your Last.fm milestone scrobbles
    </title>
    <link rel="alternate" hreflang="en" href="http://lastmilestones.tk" />
    <meta name="msvalidate.01" content="4870E4711CD70E33E61119A578AC236A" />
    <link rel="stylesheet" href="/css/index.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
    />
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-121524199-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-121524199-1");
      gtag("set", { user_id: "USER_ID" });
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js"></script>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/json2html/1.2.0/json2html.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
    <link
      href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css"
      rel="stylesheet"
    />
    <script
      async
      src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
    ></script>

    <script
      async
      src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
    ></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-2540850376241069",
        enable_page_level_ads: true
      });
    </script>
  </head>
</html>
