<div class="navbar-brand">
    <img id="static-logo" class="logo" src="/images/logo.png">
    <img id="animated-logo" class="logo" src="/images/logo.gif">
</div>
<p class="navbar-brand-text">Milestones</p>