<div class="navbar-brand">
    <a href="/">
        <img id="static-logo" class="logo" src="/images/logo.png">
        <img id="animated-logo" class="logo" src="/images/logo.gif">
    </a>

    <div class="d-block text-logo">
    <a href="/">
        <p class="last-logo">LAST</p>
        <p class="milestones-logo">MILESTONES</p>
    </a>
    </div>
</div>