html,
body {
  font-family: Open Sans, Lucida Grande, Helvetica Neue, Helvetica, Arial,
    Sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.fixed-top {
  position: sticky !important;
}

.logo {
  height: 50px;
}

.last-logo {
  padding: 0;
  margin: 0;
}

.milestones-logo {
  line-height: 10px;
}

.text-logo {
  vertical-align: middle;
  height: 50px;
  bottom: 20px;
}

.last-logo {
  color: #da0000;
  font-weight: 700;
}

.milestones-logo {
  letter-spacing: -0.05em;
  color: white;
  font-size: 22pt;
}

.fixed-top {
  background-color: #000;
  min-height: 75px;
}

.copy-link {
  cursor: pointer;
}

.navbar-brand {
  display: flex !important;
}

#animated-logo {
  display: none;
}

.logo-bottom {
  margin: 5px;
}

.loading {
  position: absolute;
  background-color: #000;
  height: 100%;
  width: 100%;
  visibility: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  color: white;
  z-index: 9000;
}

.navbar-brand-text {
  color: white;
  font-size: 10pt;
  line-height: 1pt;
}

.navbar a:hover {
  text-decoration: none !important;
}

.navbar {
  background-color: black;
}

.header-img {
  height: 200px;
  background-image: url("/images/header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header-img::before {
  height: 200px;
  position: absolute;
  content: "";
  background-size: cover;
  background-image: url("/images/header_gradient.png");
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: top;
}

.header-img::after {
  height: 200px;
  position: absolute;
  content: "";
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.75));
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: top;
}

.center-text {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  z-index: 1;
}

.block-bg {
  background-color: #000;
  color: white;
  padding: 0.3em;
  line-height: 1em;
  display: table;
  position: relative;
}

.header {
  width: 100%;
  position: relative;
}

.alert {
  border: none !important;
  border-radius: 0 !important;
  padding: 10px !important;
  font-size: 10pt !important;
  margin-bottom: 0 !important;
  text-align: center;
  font-weight: 700;
}

.alert-danger {
  color: white !important;
  background-color: #d51007 !important;
  border-color: none !important;
}

.container-margin {
  margin-top: 1.25rem !important;
}

.form-label {
  font-weight: 700;
  display: block;
  line-height: 24px;
}

.toggle-group input + label {
  margin: 0;
  padding: 0.75rem 2rem;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  border: solid 1px #ddd;
  background-color: #fff;
  font-size: 1rem;
  line-height: 140%;
  font-weight: 600;
  text-align: center;
  box-shadow: 0 0 0 rgba(255, 255, 255, 0);
  transition: border-color 0.15s ease-out, color 0.25s ease-out,
    background-color 0.15s ease-out, box-shadow 0.15s ease-out;
}

.toggle-group {
  margin: 0 0 0.5rem;
  box-sizing: border-box;
  font-size: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;
}

.toggle-group input[type="radio"] {
  width: 0;
  height: 0;
  position: absolute;
  left: -9999px;
}

.toggle-group input[type="radio"] {
  visibility: hidden;
  box-sizing: border-box;
  font-size: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

.toggle-group input + label:first-of-type {
  border-radius: 6px 0 0 6px;
  border-right: none;
}

.toggle-group input + label:last-of-type {
  border-radius: 0 6px 6px 0;
  border-left: none;
}
.toggle-group input:hover + label {
  border-color: #9da1a5;
}

.form-group input:focus,
textarea:focus {
  box-shadow: 0 0 10px rgba(146, 146, 146, 0.5) !important;
  border-color: rgb(129, 128, 128) !important;
}

.toggle-group input:checked + label {
  background-color: rgb(213, 16, 7) !important;
  color: #fff;
  box-shadow: 0 0 10px rgb(213, 16, 7, 0.5) !important;
  border-color: rgb(182, 17, 8) !important;
}

.toggle-group input:focus + label {
  outline: dotted 1px #ccc;
  outline-offset: 0.45rem;
}

@media (max-width: 800px) {
  .toggle-group input + label {
    padding: 0.75rem 0.25rem;
    flex: 0 0 15%;
  }
}

@media (max-width: 450px) {
  .toggle-group input + label {
    padding: 0.75rem 0.25rem;
    flex: 0 0 16.5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .toggle-group {
    flex-flow: column;
  }
  .toggle-group input + label:first-of-type {
    border-radius: 6px 6px 0px 0px;
    border: solid 1px #ddd;
  }
  .toggle-group input + label:last-of-type {
    border-radius: 0px 0px 6px 6px;
    border: solid 1px #ddd;
  }
}

.btn-primary {
  background-color: rgb(213, 16, 7) !important;
  color: #fff;
  box-shadow: 0 0 10px rgb(213, 16, 7, 0.5) !important;
  border-color: rgb(182, 17, 8) !important;
  z-index: 1;
}

.footer {
  font-size: 9pt;
  color: #707070;
  bottom: 0;
  left: 0;
  padding: 15px;
  width: 100%;
  background-color: #000;
  flex: 0 0 50px;
  margin-top: auto;
  z-index: 1;
}

.footer a {
  color: darkred;
}

.footer a:hover {
  color: darkred;
}

.content {
  height: 100%;
  position: relative;
}

.user-info {
  display: block;
}

.additional-info,
.additional-info a {
  font-size: 8pt;
  padding: 5px;
  color: gray;
  width: fit-content;
}

.form-group .additional-info {
  padding: 0 !important;
}

.milestone-cover {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://lastfm-img2.akamaized.net/i/u/300x300/c6f59c1e5e7240a4c0d427abd71f3dbb");
}

.milestone-cover > img {
  height: 100%;
  width: 100%;
}

.milestone-cover::after {
  content: "";
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.75));
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.milestone-meta {
  position: absolute;
  top: 0;
  color: white;
  padding: 20px;
}

.milestone-name {
  font-weight: 700;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.milestone-number {
  background-color: red !important;
  color: white;
  width: fit-content;
  padding: 0.3em;
  font-size: 1.5rem;
  line-height: 1em;
  display: table;
  position: relative;
}

.first-scrobble {
  position: absolute;
  right: 0;
  padding: 20px;
  color: white;
  bottom: 0;
}

.row {
  margin: 0 !important;
}

.custom-step {
  border: none;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  color: black !important;
  min-width: 50px;
  height: 100%;
  box-shadow: none;
  background: none;
}

.form-group .custom-step:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  border-color: none !important;
}

.custom-step {
  width: 100%;
}

.toggle-group input[type="radio"]:checked + label .custom-step {
  box-shadow: none !important;
  color: white !important;
}

.toggle-group input[type="radio"]:checked + label .custom-step::placeholder {
  color: gainsboro;
}

.custom-step::-webkit-inner-spin-button,
.custom-step::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.alert-info {
  background-color: gray !important;
  color: white !important;
}

.alert a {
  color: white;
  text-decoration: underline;
  font-weight: 700;
}

.alert a:hover {
  color: white !important;
}

.alert-warning {
  background-color: #fd7500 !important;
  color: white !important;
}

.nav-link {
  color: gray !important;
}

.nav-link:hover {
  color: white !important;
}

form {
  width: 60%;
}

@media (max-width: 1200px) {
  form {
    width: 100%;
  }
}

.recentRequests {
  bottom: 0;
  position: sticky;
  width: 100%;
  position: relative;
  background: #000;
  color: white;
  padding-bottom: 30px;
  display: none;
}

.slide {  
  display: inline-block;
  position: relative;
  width: 150px;
  height: 65px;
  float: left;
  margin: 0 30px 0 0;
  padding: 5px 0px 0px 65px;
  border-top: 1px solid #2f2f2f;
  border-bottom: 1px solid #2f2f2f;
}

.slide-image {
  display: block;
  position: absolute;
  top: 4px;
  left: 1px;
  background-image: url("https://lastfm-img2.akamaized.net/i/u/300x/818148bf682d429dc215c1705eb27b98");
  width: 51px;
  height: 51px;
  border: 1px solid #2f2f2f;
  border-radius: 50%;
}

.recentRequests h4 {
  color: #b6c0bf;
  padding: 10px;
}

.slide_name {
  text-overflow: ellipsis;
	width: 150px;
	white-space: nowrap;
  overflow: hidden;
  position: relative;
  display: inline-block;
  font-size: 10pt;
  color: #f9f9f9;
}

.recentRequests a:hover {
  text-decoration: none !important;
  color: #b90000 !important;
}

.recentRequests a {
  color: #f9f9f9 !important;
}

.recentRequests .additional-info {
  padding: 0px;
}

@media (max-height: 750px) {
  .fixed-top {
    position: relative !important;
  }

  .footer {
    position: relative;
  }
  .recentRequests {
    position: relative;
  }
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  color: black;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"] + label:last-child {
  margin-bottom: 0;
}

input[type="checkbox"] + label:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #b90000;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.6;
  -webkit-transition: all 0.12s, border-color 0.08s;
  transition: all 0.12s, border-color 0.08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.pagination {
  position: relative;
  text-align: center;
}

.page-current a {
  font-weight: 700;
  color: #b90000 !important;
  -webkit-box-shadow: inset 0 -2px #b90000;
  box-shadow: inset 0 -2px #b90000;
  padding: 6px;
}

.page-next {
  right: 0;
}

.page-prev {
  left: 0;
}

.page-prev,
.page-next {
  position: absolute;
  top: 0;
}

.page-next a {
  position: relative;
  text-align: right;
  padding-right: 15px;
}

.page-next a:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url("/images/arrow_small_right_222_12.1f09514d3fe5.png");
  width: 12px;
  height: 12px;
  top: 50%;
  margin-top: -6px;
}

.page-prev a {
  position: relative;
  text-align: left;
  padding-left: 15px;
}

.page-prev a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url(/images/arrow_small_left_222_12.23248f764438.png);
  width: 12px;
  height: 12px;
  top: 50%;
  margin-top: -6px;
}

.page-item {
  padding-left: 6px;
  padding-right: 6px;
}

.pagination a {
  color: black;
}

.pagination a:hover {
  text-decoration: none !important;
}

.label {
  display: inline-block;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 0.08em;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 5px;
  background-color: #b90000;
  color: #fff;
  font-size: 10px;
  line-height: 21px;
}
